.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

  .tab-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .tab-item:hover{
    background-color: #555;
    transition: background-color 0.3s ease;
  }
  .tab-item-active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #555;
  }

  #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    color: #f3eeee;
    text-align: center;
    padding: 10px;
  }

#audio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    color: #f3eeee;
    text-align: center;
    padding: 10px;
}
#list{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    color: #f3eeee;
    text-align: center;
    padding: 10px;
}
#list ul{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  list-style-type: none;
  display: block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: rgb(221, 201, 176);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#list li{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    list-style-type: none;
    display: block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}
#list li:hover{
    background-color: #555;
    color: #fff;
}
#list li.active{
    background-color: #555;
    color: #fff;
}